#messageBox {
    height: 100%;
    width: 50vw;
    border-radius: 20px;
}

ul {
  list-style: none;
  margin: 0;
  
  padding: 0;
}


ul li {
  display: inline-block;
  clear: both;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
}

.him {
  background: #eeeeee;
  color: #333;
  max-width: 40vw;
  float: left;
  margin-left: 2rem;
  margin-top: 0.5rem;
}
.him:last-of-type {
  margin-bottom: 10px;
}

.me {
  float: right;
  background: #2270ff;
  color: #fff;
  max-width: 35vw;

  margin-right: 2rem;
  margin-top: 0.5rem;
}


