<div class="container">
  <div class="row">
    <div class="col" style="background-color: #333">
      <app-messaging-users (on-no-chats-found)="onNoChatsFound($event)"></app-messaging-users>
      <!-- <app-add-chat></app-add-chat> -->
    </div>
    <div class="col-md-8">
      <div class="mt-5" *ngIf="noChatsFound">
        <ng-container style="color: #fff">
          <h4 class="mb-3">No chat boxes found, but worry not as...</h4>
          <figure class="">
            <blockquote class="blockquote">
              <p class="mb-0">The wise warrior avoids the battle.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Sun-Tzu, <cite title="Source Title">The Art of War</cite>
            </figcaption>
          </figure>
        </ng-container>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- <div class="d-flex justify-content-center" *ngIf="pagination">
  <div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="300"
    (scrolled)="onScroll()"
    [scrollWindow]="true"
  ></div>
</div> -->
