<form
  autocomplete="off"
  class="d-flex flex-column"
  style="justify-content: center"
  [formGroup]="registerForm"
  (ngSubmit)="register()"
>
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />

  <div class="form-group mb-5" style="width: 400px; margin: auto">
    <app-text-input
      [formControl]="$any(registerForm.controls['username'])"
      [type]="'text'"
      [label]="'Username'"
    ></app-text-input>
    <app-text-input
      [formControl]="$any(registerForm.controls['password'])"
      [type]="'password'"
      [label]="'Password'"
    ></app-text-input>
    <app-text-input
      [formControl]="$any(registerForm.controls['confirmPassword'])"
      [type]="'password'"
      [label]="'Confirm password'"
    ></app-text-input>
  </div>
  <div class="text-center">
    <button
      class="btn btn-success me-4"
      type="submit"
      style="padding: 0.5rem 2rem"
      [disabled]="!registerForm.valid"
    >
      Register
    </button>
    <button
      class="btn btn-secondary ms-4"
      type="button"
      (click)="cancel()"
      style="padding: 0.5rem 2rem"
    >
      Cancel
    </button>
  </div>
</form>
