<!-- <a
  [routerLink]="['/recipes/' + index]"
  style="cursor: pointer"
  class="list-group-item clearfix"
  routerLinkActive="active"
>
  <div class="float-start">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
  </div>
  <span class="float-end">
    <img
      [src]="recipe.imagePath"
      [alt]="recipe.name"
      class="img-responsive"
      style="max-height: 100px"
    />
  </span>
</a> -->

<div
  class="card mb-2"
  [routerLink]="['/recipes/' + recipe.id]"
  style="cursor: pointer; max-width: 50%; margin: auto"
>
  <div class="card-body">
    <app-recipe-header
      [memberPhoto]="memberPhoto"
      [timeStamp]="recipe.dateAdded"
      [username]="recipe.appUserName ? recipe.appUserName : 'Unknown'"
    ></app-recipe-header>

    <h4 class="card-title mb-3 text-center">{{ recipe.name }}</h4>
  </div>
  <img
    [src]="recipe.imageUrl"
    [alt]="recipe.name"
    class="img-responsive d-block user-select-none"
    style="height: 70%; width: 70%; margin: auto"
  />
  <div class="card-body">
    <p class="card-text">{{ recipe.description | truncate }}</p>
  </div>
  <app-recipe-footer></app-recipe-footer>
</div>
