<div class="row">
  <div class="col-md-10">
    <app-shopping-edit></app-shopping-edit>
    <hr />
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer; max-width: 50%"
        *ngFor="let ingredient of Ingredients; let i = index"
        (click)="onEditItem(i)"
        [@fade-out]
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
        <span class="trash-bin" style="float: right" (click)="deleteItem(i)">
          <fa-icon [icon]="faTrash" [styles]="{'color':'crimson',}"></fa-icon>
        </span>
      </a>
    </ul>
  </div>
</div>
