input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1.5px solid crimson;
  box-shadow: none;
  animation: skew 0.5s ease-in-out forwards;
}

.delete {
  animation: slide-fade 0.8s ease-in-out forwards;
}

@keyframes slide-fade {
  0% {
    transform: translateX(10rem);
    opacity: 0.8;
  }
  25% {
    transform: translateX(20rem);
    opacity: 0.4;
  }
  50% {
    transform: translateX(30rem);
    opacity: 0.2;
  }
  100% {
    transform: translateX(100vw);
    opacity: 0;
  }
}

@keyframes skew {
  0% {
    transform: skewX(-15deg);
  }
  5% {
    transform: skewX(15deg);
  }
  10% {
    transform: skewX(-15deg);
  }
  15% {
    transform: skewX(15deg);
  }
  20% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}
